<!DOCTYPE html>
<html>
  <head>
    <title>Andrew Overby - Here I am</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/application.css">
  </head>
  <body>
    <header id="main_navigation" class="clearfix">
      <a href="#" class="name">Andrew Overby</a>
      <nav>
        <a href="articles.html">Articles</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>

    </header>

    <div class="wrapper  wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
        <h2>About</h2>
        <hr>
        <p>I'm an aspiring financial planner, investor, grower of food, and thinker. </p>
      </div>

      <div class="col-2 homepage_content">
        <h2> Some Stuff I've Written</h2>
        <hr>

        <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to, post.title, path %></a></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b, %d") %></p>
        <% end %>

        <h3>The WRITE List</h3>
        <p class="date">Monday, September 26th</p>
        <h3>How do I learn "X"?</h3>
        <p class="date">Wednesday, September 28th</p>
        <h3>Strive for the uncomfortable</p>
        <p class="date">Friday, September 30th</p>
      </div>

      <div class="col-3 homepage_content">
        <h2> Some Stuff I've Built</h2>
        <hr>
        <h3><a href="#">The DO List</a></h3>
        <p class="date">Monday, September 26th</p>
        <h3>A Thing I Have Done</h3>
        <p class="date">Wednesday, September 28th</p>
        <h3>Something in the works</p>
        <p class="date">Friday, September 30th</p>
        </div>
      </div>

      <footer id="main_footer">
        <nav>
        <p class="copyright">&copy; 2016 Andrew Overby</p>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-degreed"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        </nav>
        <nav>
        <a href="#">LinkedIn</a>
        <a href="#">Degreed</a>
        <a href="#">Twitter</a>
        </nav>

      </footer>


  </body>

</html>
